@layer reset, base, tokens, recipes, utilities;

.bg-custom-dark {
  background-color: #010212;
}

body {
  color: #ffffff;
}

.rotatable-svg {
  transition: transform 0.3s ease;
}

.rotatable-svg:hover {
  transform: rotate(90deg);
}
